#wrapper-inactive {
  opacity: 1;
  display: block;
  height: 65px;
  padding: 0 9% 1.25rem;
}
#wrapper-active-mobile {
  @extend #wrapper-inactive;
  display: none;
  opacity: 0;
  background-color: $vdgb;
  border: {
    bottom-left-radius: 10px;
    bottom-right-radius: 10px;
  }
}

#wrapper-active-desktop {
  visibility: hidden;
  position: absolute;
}


#bottom-inactive-div {
  @include flex-display;
  width: inherit;
  height: inherit;
}
#bottom-active-div {
  @extend #bottom-inactive-div;
  p {@include share-text;}
}
.social-icons-div {
  @include flex-display;
  justify-content: flex-start;
  flex-basis: 50%;
}
.icon-div {
  @include flex-display;
  justify-content: center;
  width: 25px;
  margin-right: 15px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

#user-details-div {
  display: flex;
}
#avatar-div {
  width: 2.5rem;
  height: auto;
  @include flex-display;
}
#avatar {
  @include image;
  border-radius: $circle;
}
#name-n-date {
  margin-left: 15px;
  p {
    &:first-child {
      color: $vdgb;
      font-weight: 700;
    }
    &:last-child {
      color: $ddb;
    }
  }
}


#share-icon-div-1 {
  border-radius: $circle;
  background-color: $lgb;
  width: 2.25rem;
  height: 2.25rem;
  @include flex-display;
  justify-content: center;
}
#share-icon-div-2 {
  @extend #share-icon-div-1;
  background-color: $ddb;
}
.share-icon {
  @include image;
}







