#content-text-div {
  padding: 0 9%;
  margin: 40px 0 30px;
  p {
    line-height: 1.6;
    &:first-child {
      color: $vdgb;
      margin-bottom: 10px;
      font: {
        size: 16px;
        weight: 700;
      }
    }
    &:last-child {
      color: $ddb;
      }
  }
}