#content-text-div {
  padding: 0 9%;
  margin: 40px 0 30px;
  h1 {
    color: $vdgb;
    margin-bottom: 10px;
    line-height: 1.6;
    font: {
      size: 18px;
      weight: 700;
    }
  }
  p {
    line-height: 1.6;
    color: $ddb;
    }
}
