* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

main {
  width: 87.5%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #FFFFFF;
}

#bg-image-div {
  width: 100%;
  height: 215px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url("../images/drawers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#content-text-div {
  padding: 0 9%;
  margin: 40px 0 30px;
}

#content-text-div p {
  line-height: 1.6;
}

#content-text-div p:first-child {
  color: #48556a;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

#content-text-div p:last-child {
  color: #6d7f97;
}

#wrapper-inactive, #wrapper-active-mobile {
  opacity: 1;
  display: block;
  height: 65px;
  padding: 0 9% 1.25rem;
}

#wrapper-active-mobile {
  display: none;
  opacity: 0;
  background-color: #48556a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#wrapper-active-desktop {
  position: absolute;
  top: -9999px;
  right: -9999px;
}

#bottom-inactive-div, #bottom-active-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
}

#bottom-active-div p {
  color: #9eafc2;
  letter-spacing: 5px;
}

.social-icons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  margin-right: 15px;
}

.icon-div img {
  max-width: 100%;
  height: auto;
}

#user-details-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#avatar-div {
  width: 2.5rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#avatar {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

#name-n-date {
  margin-left: 15px;
}

#name-n-date p:first-child {
  color: #48556a;
  font-weight: 700;
}

#name-n-date p:last-child {
  color: #6d7f97;
}

#share-icon-div-1, #share-icon-div-2 {
  border-radius: 50%;
  background-color: #ecf2f8;
  width: 2.25rem;
  height: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#share-icon-div-2 {
  background-color: #6d7f97;
}

.share-icon {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  main {
    width: 725px;
    height: auto;
    padding: 35px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #bg-image-div {
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  #content-div {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  #content-text-div {
    padding: 0 30px;
    margin: 0 0 10px;
  }
  #content-text-div p {
    line-height: 1.6;
  }
  #content-text-div p:first-child {
    color: #48556a;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  #wrapper-inactive, #wrapper-active-mobile {
    opacity: 1;
    display: block;
    height: 65px;
    padding: 0 30px 1.25rem;
  }
  #wrapper-active-mobile {
    height: 65px;
    padding: 0 9% 1.25rem;
    display: none;
    opacity: 0;
    background-color: #48556a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #wrapper-active-desktop {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #48556a;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 7.5px #48556a;
            box-shadow: 0 2px 7.5px #48556a;
    top: 50%;
    right: -10.5%;
    width: 250px;
    height: 55px;
  }
  #wrapper-active-desktop::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: inherit;
    position: absolute;
    bottom: -7px;
    left: 117.5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  #bottom-inactive-div, #bottom-active-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: inherit;
    height: inherit;
  }
  #bottom-active-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
  }
  #bottom-active-desktop p {
    color: #9eafc2;
    letter-spacing: 5px;
  }
  .social-icons-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .icon-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25px;
    margin-right: 0;
    margin-left: 15px;
  }
  .icon-div img {
    max-width: 100%;
    height: auto;
  }
  #share-icon-div-1, #share-icon-div-2 {
    border-radius: 50%;
    background-color: #ecf2f8;
    width: 2.25rem;
    height: 2.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #share-icon-div-2 {
    border-radius: 50%;
    background-color: #ecf2f8;
    width: 2.25rem;
    height: 2.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #6d7f97;
  }
  .share-icon {
    max-width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=index.css.map */