* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "variables";
@import "mixins";


body {
  background-color: $lgb;
  font: {
    family: 'Manrope', sans-serif;
    size: 13px;
  }
}

main {
  width: 87.5%;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  background-color: #FFFFFF;
}

#bg-image-div {
  width: 100%;
  height: 215px;
  border: {
    top-left-radius: 10px;
    top-right-radius: 10px;
  }
  background: {
    image: url("../images/drawers.jpg");
    size: cover;
    repeat: no-repeat;
  }
}


@import "midSection";
@import "bottomSection";
@import "mediaQueries";